* {
    box-sizing: border-box;
  }
  body {
    background: rgb(70, 130, 180);
    font-family: "Open Sans", arial;
  }
  table {
    width: 100%;
    max-width: 100%;
    /* height: 320px; */
    border-collapse: collapse;
    /* border: 1px solid #0D729C; */
    margin: 50px auto;
    background: white;
  }
  th {
    /* background: steelblue; */
    height: 34px;
    /* width: 25%; */
    padding-left: 5px;
    font-weight: lighter;
    /* text-shadow: 0 1px 0 #0D729C; */
    color: #0D729C;
    border-bottom: 1px solid #0D729C;
    /* box-shadow: inset 0px 1px 2px  #0D729C; */
    transition: all 0.2s;
  }
  tr {
    /* border-bottom: 1px solid #cccccc; */
  }
  tr:last-child {
    border-bottom: 0px;
  }
  td {
    /* //border-right: 1px solid #cccccc; */
    padding: 10px;
    transition: all 0.2s;
  }
  td:last-child {
    border-right: 0px;
  }
  ::-moz-selection {
    background: steelblue;
    color: white;
  }
  ::selection {
    background: steelblue;
    color: white;
  }
  .heavyTable {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
  }
  
  tbody tr:nth-child(4n),
  tbody tr:nth-child(4n-2) {
    background-color: #eceeee54;
  }