<!-- <po-modal #modal p-title="PO Modal"> We are TOTVERS!!! </po-modal>

<po-button p-label="Open modal" (p-click)="modal.open()"> </po-button> -->

<po-modal
    [p-click-out]="properties.includes('click-out')"
    [p-hide-close]="properties.includes('hide-close')"
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryActionLabel ? secondaryAction : null"
    [p-size]="size"
    [p-title]="detalhe[0]?.titulo" [id]="detalhe[0]?.titulo">

        <div class="po-row">
          <po-info class="po-md-4" p-label="Graduação" [id]="detalhe[0]?.formacao" [p-value]="detalhe[0]?.formacao === null ? 'Não se aplica' : detalhe[0]?.formacao"> </po-info>
      
          <po-info class="po-md-4" p-label="Idioma" [id]="detalhe[0]?.idioma"  [p-value]="detalhe[0]?.idioma === null ? 'Não se aplica' : detalhe[0]?.idioma"> {{ detalhe[0]?.idioma === undefined ? 'Não se aplica' : detalhe[0]?.idioma }}</po-info>
      
          <po-info *ngIf="detalhe[0]?.meses_experiencia < 12"  class="po-md-4" p-label="Experiência" [p-value]="detalhe[0]?.meses_experiencia === null ? 'Não se aplica' : detalhe[0]?.meses_experiencia + ' Meses'"> </po-info>
          <po-info *ngIf="detalhe[0]?.meses_experiencia >= 12"  class="po-md-4" p-label="Experiência" [p-value]="detalhe[0]?.meses_experiencia === null ? 'Não se aplica' : detalhe[0]?.meses_experiencia/12 + ' Anos'"> </po-info>
        </div>
      
        <hr />
      
        <div class="po-row">
  


          <table class="" style="margin:0 auto !important">
            <thead>
              <tr class="">
                <th>Habilidade</th>
                <th>Nível</th>
                <th>
                  
                </th>
              </tr>
            
            </thead>
            <tbody class="">
              <tr *ngFor="let item of habilidades;let id_area = index">
                <td [id]="item.habilidade">
                  {{item.habilidade}}  <strong *ngIf="item.desejavel == 1" style="font-style: italic;margin-left: 20px;">(Desejável)</strong>           
                </td>
                <td>
                    {{item.nivel}}
                </td>
                <td>
                    <img src="assets/img/check.svg">
                    <img style="width:24px !important" src="assets/img/cancel2.svg">
                </td>
              </tr>
            </tbody>
          </table>

          <circle-progress style="margin:0 auto !important"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>

        </div>
</po-modal>