<po-page-default p-title="Ínicio">



  <app-office-modal></app-office-modal>
  
  <div *ngFor="let item of trilha">

  <div *ngFor="let carreira of item.carreiras">  

    <h2> {{item.titulo}} / {{carreira.titulo}}</h2>

      <table class="heavyTable">
        <thead>
          <tr>
            <th style="width: 5% !important;">Nível</th>
 
            <th *ngFor="let area of carreira.areas">{{area.titulo}}</th>
          </tr>
        
        </thead>
        <tbody>
          <tr>
            <td>Analísta II</td>
            <td><po-button p-label="Analísta desenv II" p-small="true" (p-click)="openModal(1)"> Analísta desenv II</po-button> </td>
            <td><po-button p-label="Analísta Agile Master II (75%)" p-small="true" p-disabled="true"> Analísta Agile Master II (75%)</po-button></td>
            <td><po-button p-label="Analísta PO II" p-small="true" p-disabled="true"> Analísta PO II</po-button></td>
          </tr>
          <tr>
            <td>Analísta I</td>
            <td><po-button p-label="Analísta Front I" p-small="true"> Analísta Front I</po-button> <po-button p-label="Analísta Back I" p-small="true"> Analísta Back I</po-button></td>
            <td><po-button p-label="Analísta Agile Master I" p-disabled="true" p-small="true"> Analísta Agile Master I</po-button></td>
            <td><po-button p-label="Analísta PO I" p-disabled="true" p-small="true"> Analísta PO I</po-button></td>
          </tr>
          <tr>
            <td>Asistente / Técnico</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Estagiário</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Jovem aprendiz</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</po-page-default>
