<po-page-default p-title="Ínicio">

  <h2> Trilha Tech / Desenvolvimento </h2>


  <app-office-modal></app-office-modal>
  
  <table class="heavyTable">
    <thead>
      <tr>
        <th style="width: 5% !important;">Nível</th>
        <th>Dev Team</th>
        <th>Agile Master</th>
        <th>Product Owner</th>
      </tr>
     
    </thead>
    <tbody>
      <tr>
        <td>Analísta II</td>
        <td><po-button p-label="Analísta desenv II" p-small="true" (p-click)="openModal(1)"> Analísta desenv II</po-button> </td>
        <td><po-button p-label="Analísta Agile Master II (75%)" p-small="true" p-disabled="true"> Analísta Agile Master II (75%)</po-button></td>
        <td><po-button p-label="Analísta PO II" p-small="true" p-disabled="true"> Analísta PO II</po-button></td>
      </tr>
      <tr>
        <td>Analísta I</td>
        <td><po-button p-label="Analísta Front I" p-small="true"> Analísta Front I</po-button> <po-button p-label="Analísta Back I" p-small="true"> Analísta Back I</po-button></td>
        <td><po-button p-label="Analísta Agile Master I" p-disabled="true" p-small="true"> Analísta Agile Master I</po-button></td>
        <td><po-button p-label="Analísta PO I" p-disabled="true" p-small="true"> Analísta PO I</po-button></td>
      </tr>
      <tr>
        <td>Asistente / Técnico</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Estagiário</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jovem aprendiz</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h2> Trilha Tech / TI </h2>

  <table class="heavyTable">
    <thead>
      <tr>
        <th style="width: 5% !important;">Nível</th>
        <th>Dev Team</th>
        <th>Agile Master</th>
        <th>Product Owner</th>
      </tr>
     
    </thead>
    <tbody>
      <tr>
        <td>Analísta II</td>
        <td><po-button p-label="Analísta desenv II (90%)" p-small="true"> Analísta desenv II (90%)</po-button> </td>
        <td><po-button p-label="Analísta Agile Master II" p-small="true"> Analísta Agile Master II</po-button></td>
        <td><po-button p-label="Analísta PO II" p-small="true" p-disabled="true"> Analísta PO II</po-button></td>
      </tr>
      <tr>
        <td>Analísta I</td>
        <td><po-button p-label="Analísta Front I" p-small="true"> Analísta Front I</po-button> <po-button p-label="Analísta Back I" p-small="true"> Analísta Back I</po-button></td>
        <td><po-button p-label="Analísta Agile Master I" p-small="true" p-disabled="true"> Analísta Agile Master I</po-button></td>
        <td><po-button p-label="Analísta PO I" p-small="true" p-disabled="true"> Analísta PO I</po-button></td>
      </tr>
      <tr>
        <td>Asistente / Técnico</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Estagiário</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jovem aprendiz</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


</po-page-default>
