<po-page-default p-title="">

  <div class="po-row" style="margin-bottom: 40px ;">
    <po-widget class="po-lg-6" p-title="Sobre">
      <ng-container>
        <div class="po-row">
          <po-avatar class="po-md-3" p-size="lg" [p-src]=""> </po-avatar>
  
          <div class="po-md-8">
            <span class="po-sm-12 po-font-subtitle">
              Maria da Silva
            </span>
  
            <span class="po-sm-12 po-font-text"> <strong>Tempo de TOTVS :</strong> 2 Anos </span>
  
            <span class="po-sm-12 po-font-text"> <strong> E-mail:</strong> maria.silva@totvs.com.br  </span>
          </div>
        </div>
  
        <div class="po-row">
          <!-- <po-dropdown
            class="po-lg-8 po-offset-md-4 po-offset-lg-4 po-offset-xl-4"
            p-label="Add as friend?"
            [p-actions]="answers">
          </po-dropdown> -->
        </div>
      </ng-container>
  
      <ng-template #noMoreRequest>
        <div class="po-row">
          <span class="po-lg-8 po-font-subtitle">Congratulations Totver, no more requests!</span>
        </div>
      </ng-template>
    </po-widget>
    <po-widget class="po-lg-6" p-title="Minhas Habilidades">
      <ng-container>
        <div class="po-row">
          <po-avatar class="po-md-3" p-size="lg" [p-src]=""> </po-avatar>
  
          <div class="po-md-8">
            <span class="po-sm-12 po-font-subtitle">
              Maria da Silva
            </span>
  
            <span class="po-sm-12 po-font-text"> Analista de Sistemas II </span>
  
            <span class="po-sm-12 po-font-text"> Resides in  </span>
          </div>
        </div>
  
        <div class="po-row">
          <!-- <po-dropdown
            class="po-lg-8 po-offset-md-4 po-offset-lg-4 po-offset-xl-4"
            p-label="Add as friend?"
            [p-actions]="answers">
          </po-dropdown> -->
        </div>
      </ng-container>
  
      <ng-template #noMoreRequest>
        <div class="po-row">
          <span class="po-lg-8 po-font-subtitle">Congratulations Totver, no more requests!</span>
        </div>
      </ng-template>
    </po-widget>
  </div>


  <app-office-modal></app-office-modal>
  
  <div *ngFor="let item of trilha">

  <div *ngFor="let carreira of item.carreiras">  

    <h2> {{item.titulo}} / {{carreira.titulo}}</h2>

      <table class="heavyTable">
        <thead>
          <tr>
 
            <th  *ngFor="let area of carreira.areas" [id]="area.id">{{area.titulo}}</th>
          </tr>
        
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let _area of carreira.areas">
              <span *ngFor="let cargo of _area.cargos"><po-button *ngIf="cargo.idNivel === 4 && cargo.idArea === _area.id"   [p-label]="cargo.titulo" p-small="true" (p-click)="openModal(1)"> {{cargo.titulo}}</po-button> </span>
            </td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>

  </div>


</po-page-default>
